In [ ]:
# 将文件（csv 逗号分隔文件）的原始内容打印到屏幕
# ! 表示后面为命令行语句

In [7]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
import pandas as pd
import numpy as np

In [4]:
#使用read_csv将其读入一个DataFrame
df = pd.read_csv( 'ex1.csv' )
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
# 还可以使用read_table, 并指定分隔符
pd.read_table( 'ex1.csv', sep=',' )

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
# 并不是所有文件都有标题行
!type ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
# 读入该文件的办法有两个。你可以让pandas为其分配默认的列名，也可以自定义列名
pd.read_csv( 'ex2.csv', header = None )

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
pd.read_csv( 'ex2.csv', names = ['a', 'b', 'c', 'd', 'message'] )

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
# message列做成DataFrame的索引，通过index_col参数指定‘message’
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv( 'ex2.csv', names = names, index_col = 'message' )

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [17]:
# 多个列做成一个层次化索引，只需传入由列编号或列名组成的列表
!type csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [18]:
parsed = pd.read_csv('csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
# 有些情况下，有些表格可能不是用固定的分隔符去分隔字段
!type ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
list( open('ex3.txt') )

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [22]:
# 一个空格作分隔
result = pd.read_csv('ex3.txt', sep = ' ')
result

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,B,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,C
0,aaa,-0.264438,-1.026059,-0.619500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bbb,NaN,0.927272,NaN,0.302904,-0.032399,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ccc,-0.264273,-0.386314,-0.217601,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ddd,-0.871858,-0.348382,NaN,1.100491,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# 正则表达式/s+ 作分隔
result = pd.read_csv('ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
# 由于列名比数据的行数量少，所以函数推断第一列应该是DataFrame的索引。

In [24]:
#可以用skiprows跳过文件的第一行、第三行和第四行
!type ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [25]:
pd.read_csv( 'ex4.csv', skiprows=[0,2,3] )

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
# 缺失值处理是文件解析任务中的一个重要组成部分。缺失数据经常是要么没有，
# 要么用某个标记值表示。默认情况下，pandas 会用一组经常出现的标记值进行识别
!type ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [27]:
result = pd.read_csv('ex5.csv')

In [28]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
# na_values可以用一个列表或集合的字符串表示缺失值(列表中的数据换位缺失值)
result = pd.read_csv('ex5.csv', na_values=['foo'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [33]:
# 字典的各列可以使用不同的NA标记值
sentinels = {'message': ['foo'], 'something': ['two']}
pd.read_csv('ex5.csv', na_values = sentinels )

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [ ]:
# 逐块读取文本文件
# 在处理很大的文件时，或找出大文件中的参数集以便于后续处理时，你可能只想
# 读取文件的一小部分或逐块对文件进行迭代

In [34]:
# 在看大文件之前，我们先设置pandas显示得更紧些
pd.options.display.max_rows = 10
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [36]:
# nrows进行指定读取文件的其中几行
pd.read_csv( 'ex6.csv', nrows = 5 )

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [37]:
# 要逐块读取文件，可以指定chunksize（行数）
chunker = pd.read_csv( 'ex6.csv', chunksize=1000 )
chunker

In [38]:
#返回的TextParser对象可以根据chunksize对文件进行逐块迭代
#我们可以迭代处理ex6.csv， 将值计数聚合到‘key’列中
chunker = pd.read_csv('ex6.csv', chunksize = 1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values( ascending = False )

In [39]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

In [40]:
# 用to_csv方法，可以将数据写到一个以逗号分隔的文件中
data = pd.read_csv('ex5.csv')

In [41]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [42]:
data.to_csv('out.csv')
!type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [43]:
# 也可以使用其他分隔符（这里直接写出到sys.stdout,所以仅仅是打印文本而已）
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [44]:
# 缺失值在输出结果中会被表示为空字符串，你可能希望将其表示为别的标记值
data.to_csv( sys.stdout, na_rep='NULL' )

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [47]:
# 行和列的标签可以被禁用
data.to_csv( sys.stdout, index=False, columns=['a', 'b', 'c', 'd'], 
             na_rep='NULL', sep='|' )

a|b|c|d
1|2|3.0|4
5|6|NULL|8
9|10|11.0|12

In [49]:
# Series 也有to_csv方法
dates = pd.date_range( '1/1/2000', periods = 7 )
ts = pd.Series( np.arange(7), index = dates )
ts.to_csv('tseries.csv', sep = '|')
!type tseries.csv

F:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

2000-01-01|0
2000-01-02|1
2000-01-03|2
2000-01-04|3
2000-01-05|4
2000-01-06|5
2000-01-07|6

In [50]:
# 接收到含有畸形行的文件
!type ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [51]:
# 对任何单字符分隔符文件，可以使用python内置的csv模块，将任意已打开的文件
# 或文件型的对象传给csv.reader
import csv
f = open('ex7.csv')
reader = csv.reader(f)

In [52]:
# 对这个reader进行迭代将会为每行产生一个元组（并移除了所有的引号）
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [64]:
# 为了让数据合乎要求，我们一步步来整理，先将文件读取到一个多行的列表中
with open('ex7.csv') as f:
    lines = list( csv.reader(f) )
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [54]:
# 然后我们将这些行分为标题行和数据行
header, values = lines[0], lines[1:]
# 然后用字典构造式和zip（*values）,后者将行转置为列
data_dict = { h: v for h, v in zip( header, zip(*values) ) }
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [55]:
df = pd.DataFrame( data_dict )

In [56]:
df

   a  b  c
0  1  2  3
1  1  2  3

In [59]:
x = pd.read_csv( 'ex7.csv' )
x

   a  b  c
0  1  2  3
1  1  2  3

In [66]:
f = open('ex7.csv')

In [67]:
# csv文件的形式有很多，只需定义csv.Dialect的一个子类即可定义出新格式
class my_dialect( csv.Dialect ):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f, dialect = my_dialect)
# 各个csv语支的参数也可以以关键字的形式提供给csv.reader, 而无需定义子类
reader = csv.reader(f, delimiter='|')

In [ ]:
# 对于那些使用复杂分隔符或多字符分隔符的文件，csv模块无能为力
# 这种情况下，只能使用字符串的split方法或者正则表达式方法re.split进行拆分整理

In [69]:
# 要手工输出分隔符文件，可以使用 csv.writer
# 它可以接受一个已打开且可写的文件对象以及跟csv.reader相同的那些语支和格式化选项
with open ('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect = my_dialect)
    writer.writerow( ('one', 'two', 'three') )
    writer.writerow( ('1', '2', '3') )
    writer.writerow( ('4', '5', '6') )

In [70]:
!type mydata.csv

one;two;three
1;2;3
4;5;6